/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
input.sl_a_copy {
    width: 50% !important;
    margin: 5px !important;
} 
.sl_a_tabing-wrapper.sl_a_admin-tabing {
    border: 1px solid #c3c4c7;
    background-color: #ffffff;
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
ul.sl_a_tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h2, h3{
    font-size: 1.4em !important;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400 !important;
}
p.sl_a_form_success_message{
    font-size: 1.2em !important;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing ul.sl_a_tabs {
    width: 20%;
    display: block;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #ededed;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing ul.sl_a_tabs li.sl_a_tab-link {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 10px 10px 30px;
    display: block;
    margin: 0;
    border-color: #ededed;
    font-weight: 400;
    color: #0073aa;
    border-style: solid;
    border-width: 1px 0 0;
    background-color: #f9f9f9;
    cursor: pointer;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing ul.sl_a_tabs li.sl_a_tab-link:hover {
    background-color: #ffffff;
}

.sl_a_tabing-wrapper.sl_a_admin-tabing ul.sl_a_tabs li.sl_a_tab-link:first-child {
    border-top: none;
}

.sl_a_tabing-wrapper.sl_a_admin-tabing ul.sl_a_tabs li.sl_a_tab-link:last-child {
    border-bottom-width: 1px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing ul.sl_a_tabs li.sl_a_tab-link.sl_a_current {
    background-color: #ffffff;
    color: #000000;
    margin-right: -1px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content {
    width: 80%;
    display: none;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content > div {
    padding: 15px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content.sl_a_current {
    display: block;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content h3 {
    display: block;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 0;
    font-size: 14px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_input img.colorpick-eyedropper-input-trigger {
    display: none;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_col-6 {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    border-width: 0px 1px 1px 0;
    border-style: solid;
    border-color: #ededed;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_col-6:nth-child(2n) {
    border-right: none;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content label {
    display: inline-block;
    margin-bottom: 5px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_input {
    margin-bottom: 10px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_input:last-of-type {
    margin-bottom: 0;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .pages_wrap-single label {
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 140px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .pages_wrap-single {
    margin-bottom: 10px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .pages_wrap-single:last-of-type {
    margin-bottom: 0;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_input label {
    display: block;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_input input[type="text"],
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_input input[type="email"],
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_input textarea,
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content input[type="text"],
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content input[type="email"],
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content textarea {
    width: 100%;
    max-width: 100%;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content .sl_a_inner-column-wrapper .sl_a_input input.upload_image_button,
.sl_a_tabing-wrapper.sl_a_admin-tabing .sl_a_tab-content input.upload_image_button {
    width: auto;
    margin: 10px 0 0;
    display: block;
}
.sl_a_tabing-wrapper img {
    max-width: 100%;
    height: auto;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing div#social_media .row:not(:last-of-type) {
    margin-bottom: 10px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing div#social_media table {
    width: 100%;
    border: 1px solid #ddd;
    padding: 0;
    border-collapse: collapse;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing div#social_media table tr td {
    padding: 8px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #dddddd;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing div#social_media table tr th {
    text-align: left;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dddddd;
    padding: 8px;
}
.sl_a_tabing-wrapper.sl_a_admin-tabing div#social_media #cloneButton {
    margin: 15px 0 0 auto;
    display: block;
}
.sl_a_admin h2{
    margin-top: 0;
}
.sl_a_admin .sl_a_shortcode-frm {
    display: flex;
    align-items: center;
}
.sl_a_admin .sl_a_shortcode-frm label{
    flex: 0 0 150px;
    max-width: 150px;
    display: block;
}
.sl_a_admin .sl_a_shortcode-frm input {
    width: 210px !important;
}
.sl_a_admin p{
    margin-top: 0;
}
.sl_a_admin .sl_a_form_custom_message h2{
    margin-bottom: 5px;
}
.sl_a_admin .sl_a_form_custom_message p{
    font-size: 13px !important;
}
.sl_a_admin-tabing #sl_site_shortcodes .sl_a_shortcode-frm .sl-txt h4{
    margin: 0;
}
.sl_a_admin ul.sl_a_tabs li.sl_a_shortcode_info.sl_a_tab-link{
    background-image: url(../images/shortcode.svg);
    padding: 10px 10px 10px 34px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center left 10px;
}
.sl_a_admin ul.sl_a_tabs li.sl_a_user_role_setting.sl_a_tab-link{
    background-image: url(../images/user_role.svg);
    padding: 10px 10px 10px 34px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center left 10px;
}
.sl_a_admin ul.sl_a_tabs li.sl_a_user_page_setting.sl_a_tab-link{
    background-image: url(../images/login.svg);
    padding: 10px 10px 10px 34px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center left 10px;
}
.sl_a_admin ul.sl_a_tabs li.sl_a_email_setting.sl_a_tab-link{
    background-image: url(../images/email_setting.svg);
    padding: 10px 10px 10px 34px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center left 10px;
}

.sl_a_admin ul.sl_a_tabs li.sl_a_add_rewards_manually.sl_a_tab-link{
    background-image: url(../images/backpoints-icon.png);
    padding: 10px 10px 10px 34px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center left 10px;
}
.admin-sl-settings .form-group{
    margin-bottom: 1rem;
}
.admin-sl-settings .form-control{
    display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
ul#select2-customid-results {
    height: 360px !important;
    max-height: 360px !important;
}
#sl_user_loader{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: black
        url('../images/loader.svg')
        50% 50%
        no-repeat;
}
